<nav class="navbar navbar-light bg-primary">
    <span class="navbar-brand h1 text-light text-justify">News Scrape</span>
    <ul class="right">
        <li>
            <h3><a href="/scrape">Scrape</a></h3>
        </li>
        <li>
            <h3><a href="/clearall">Clear Articles</a></h3>
        </li>
    </ul>
</nav>